* {
    margin: 0;
    padding: 0;
}

header {

    height: 45vh;
    overflow: hidden;
    position: relative;
}

@media(max-width: 640px) {
    header {
        height: 30vh;
    }
}

/* good for centering video/img */
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

header h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(220, 220, 220, 0.5);
    padding: 20px 0;
    letter-spacing: 10px;
    z-index: 1;
    text-align: center;
    width: 100%;
    color: white;
    font-family: arial;
    font-size: 40px;
    animation: text 12s infinite both;
}

header h1:nth-of-type(2) {
    animation-delay: 4s;
}

header h1:nth-of-type(3) {
    animation-delay: 8s;
}



@keyframes text {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 0;
    }

    9% {
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    30.33% {
        opacity: 0;
    }

    33.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}