* {
    margin: 0;
    padding: 0;
}

header {

    height: 45vh;
    overflow: hidden;
    position: relative;
}

@media(max-width: 640px) {
    header {
        height: 30vh;
    }
}

/* good for centering video/img */
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

header h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(220, 220, 220, 0.5);
    padding: 20px 0;
    letter-spacing: 10px;
    z-index: 1;
    text-align: center;
    width: 100%;
    color: white;
    font-family: arial;
    font-size: 40px;
}